:root {
    font-size: 62,5%;
    --primary-color: #0B847A;
    --white: #FFFFFF;
    --light-gray: #CCCCCC;
    --gray: #757575;
    --dark-gray: #555555;
    --green-001: #96DAAB;
    --green-002: #2EB5A2;
    --green-003: #149B90;
    --green-004: #1DB0A4;
}